.Collapsible__trigger {
  font-size: 1.5em;
  color: skyblue;
  background: black;
}

.Collapsible__contentOuter {
  background: grey;
}

/* .Collapsible__contentInner {
  color: white;
  background: black;
} */

.Collapsible {
  color: white;
  background: black;
  padding: 25px;
}
